.*.swp
.recycle

# project assets
andworld.iml
build.gradle
gradle.properties
gradlew
gradlew.bat
local.properties
settings.gradle
build/
.gradle/
.idea/
gradle/
app/build/
app/app.iml
app/libs
app/proguard-rules.pro
app/src/androidTest/
app/src/test/
